* {
	margin: 0;
	padding: 0;
}

.form-control {
	margin: 2rem 0;
}

.card {
	width: 50%;
	margin: 3rem auto;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	font-size: 5vmin;
}

.user-input {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.4rem;
}